:root{
    /*COLORS*/

    --gray-100:#F9F9F9;
    --gray-600:rgba(136, 136, 136, 0.7);
    --gray-300:rgba(157, 157, 157, 1);
    --gray-400:#8D8D8D;
    --gray-200:#EDEDED;
    --gray-500:#606060;
    --gray-250:#EDF2F7;

    --neutrals-2:#E6E8EC;
    --neutrals-6:#E6E8EC;

    --light-100:#000;
    --dark:#141416;
    --white:white;

    /*BORDERS*/
    --radius-1:25px;
    --radius-2:23px;
    --radius-3:19px;
    --radius-4:14px;

    /*SHADOWS*/
    --shadow-1:39px 12px 59px 0px rgba(199, 199, 199, 0.60);

    /*SCREENS*/
    --desktop:1400px;
    --tablet:992px;
    --phone:375px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:14px;
}
body{
    position: relative;
}
.container{
    background-color: var(--gray-100);
    width: 100%;
    height: auto;
    color: var(--gray-400);
    font-style: normal;
    line-height: 27px;
    position: relative;

    overflow-x: hidden;

}
/*@media (min-width: 576px) {
    html{
        font-size:14px;
    }
}
@media (min-width: 1400px) {
    html{
        font-size:16px;
    }
}*/

/*@media (min-width: 992px){
    .container {
        padding: 32px 68px;
    }
}
@media (min-width: 1400px){
    .container {
        padding: 46px 96px;
    }
}*/
